<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New User</title>
  </head>
  <body>
    <h2>Add New User</h2>
    <form action="/user/newUser" method="POST">
      <input name="email" type="email" placeholder="Enter email" />
      <input name="username" type="text" placeholder="Enter username" />
      <input name="password" type="password" placeholder="Enter password" />
      <button type="submit" style="color: green;">Add User</button>
    </form>
  </body>
</html>