<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
  </head>
  <body>
    <h3>To delete this user : <%= user.email %> </h3>
    <form method="post" action="/user/<%= user.id%>?_method=DELETE">
        <label for="password"> Enter password</label>
      <input style="color: red;" type="password" placeholder="Enter password" name="password"  id="delete"/>
      <button  style="color: red;" type="submit">Delete</button>
    </form>
  </body>
</html>